body{
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,0.7);
    background-color: rgb(240, 243, 246);
}

a {
    color: rgba(0,0,0,1);
}

a:hover {
    text-decoration: none;
}

/* bootstrap override */

.btn {
    border-radius: 2px;
}

input {
    border-radius: 2px !important;
}

/* common use */

.margin-bottom {
    margin-bottom: 16px;
}

.no-margin {
    margin: 0 0;
}

.margin-v5 {
    margin: 5px 0;
}

/* base.html */

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}

/* book.html */

.height-20 {
    line-height: 22px;
}

.inline-block {
    display: inline-block;
}

.btn-dropdown{
    border:0px solid transparent;
    font-size: 17px;
    margin: 0 0 4px 0;
}

.question-text {
    display: block;
    margin: 7px 0;
    font-size: 1.5rem;
}

.question-stat-list {
    display: flex;
}

.question-stat {
    color: rgba(0,0,0,0.55);
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 1.33;
    margin-bottom: -8px;
    text-align: center;
    width: 80px;
}

.question-stat-label {
    color: rgba(0,0,0,0.7);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.33;
    margin: 0;
    text-align: center;
    width: 80px;
}

/* question.html */
.answer-replies:before {
    display: block;
    content: "";
    position: absolute;
    right: -30px;
    left: -30px;
    top: 0;
    height: 0px;
    border-top: 1px solid #D0D3D6
}

.answer-replies {
    color: rgba(0,0,0,0.85);
    font-weight: 400;
    font-size: 2.6rem;
    margin-top: 20px;
}

.answer-user {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    font-size: 17px;
    font-size: 1.7rem;
    margin: 15px 0 15px 0;
}