{% extends 'book/base.html' %}
{% block title %}BookQ - {{book.title}}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
    {% if book %}
        <div class="col-xs-12 col-sm-2">
            <img src="{{ book.cover.url }}" alt="{{ book.title }}" class="img-thumbnail rounded" height="200" width="150">
            <div class="inline-block">
                <h4>{{ book.title }} </h4>
                <span>
                    - {{ book.author }}
                </span><br><br>
                <!-- ============ New Question Button (if logged in) ============== -->
                {% if user.is_authenticated %}
                <button id="newQ" class="btn btn-primary">New Question</button>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-12 margin-bottom">
                        <form class="form-horizontal" id="searchQ-form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h4>Search Questions</h4>
                            <div class="form-row">
                                <div class="col-sm-9">
                                    <input type="text" name="keyword" id="keyword" class="form-control" placeholder="page number or question" value="">
                                </div>
                                <div class="col-sm-2">
                                    <button id="newQ" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- ============ New Question box (if logged in) ============== -->
                    {% if user.is_authenticated %}
                    <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1 margin-bottom">
                        <form class="form-horizontal hide" id="newQ-form" action="{% url 'book:book' book.isbn13 %}" method="post" enctype="multipart/form-data">
                            <hr>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="page">Page</label>
                                <input type="number" class="form-control" id="page" name="page">
                            </div>
                            <div class="form-group">
                                <label for="question">Question</label>
                                <textarea class="form-control" rows="4" id="question" name="question"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Ask</button>
                            </div>
                            <hr>
                        </form>
                    </div>
                    {% endif %}
                    <div class="col-sm-12 col-md-12 margin-bottom">
                        <div>
                            <h4 class="inline-block height-20">Sort questions by:</h4>
                            <div class="inline-block">
                                <div class="btn-group">
                                    <button type="button" class="dropdown-toggle btn-dropdown" data-toggle="dropdown">
                                        Most Active <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Newest</a></li>
                                        <li><a href="#">Most Active</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><hr>
                        <div>
                            {% for question in book.question_set.all %}
                            <div class="line-break">
                                <div class="col-sm-9">
                                    <a href="{% url 'book:question' book.isbn13 question.id %}">
                                        <span>page </span><h3 class="no-margin inline-block" style="font-weight: 300;">{{ question.page }}</h3>
                                        <span class="question-text">{{ question.question }}</span>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="list-inline question-stat-list">
                                        <li><div class="question-stat">
                                                {{ question.num_answer }}
                                            </div>
                                            <div class="question-stat-label">
                                                replies
                                            </div>
                                        </li>
                                        <li><div class="question-stat">
                                            {{ question.like }}
                                        </div>
                                        <div class="question-stat-label">
                                            have this question
                                        </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12"><hr></div>
                            {% endfor %}
                        </div>
                        <div id="amzn-assoc-ad-ecbea48f-cdaa-4f3b-bde9-872009d90648"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=ecbea48f-cdaa-4f3b-bde9-872009d90648"></script>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h3>There was an error loading this book</h3>
    {% endif %}

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    </div>
</div>

<script>
    $(function() {
        $('#newQ').click(function() {
            $("#newQ-form").removeClass("hide");
        });
    });
</script>
{% endblock %}