<!-- Loads the path to your static files-->
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'book/style.css' %}" />

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Logo -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'book:index' %}">BookQ</a>
        </div>

    </div>
</nav>

<h1>Book Ask</h1>

{% if all_books %}
    <ul>
        {% for book in all_books %}
        <li><a href="{% url 'book:book' book.id %}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>You don't have any books</h3>
{% endif %}