{% extends 'book/base.html' %}
{% block title %}BookQ - {{book.title}}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
    {% if question %}
        <div class="col-xs-12 col-sm-2">
            <img src="{{ question.book.cover.url }}" alt="{{ question.book.title }}" class="img-thumbnail rounded" height="200" width="150">
            <div class="inline-block">
                <h4>{{ question.book.title }} </h4>
                <span>
                    - {{ question.book.author }}
                </span><br><br>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-12 margin-bottom">

                    </div>
                    <div class="col-sm-12 margin-bottom">
                        <form class="form-horizontal" id="searchQ-form" action="" method="post" enctype="multipart/form-data">
                            <h4>Search Questions</h4>
                            <div class="form-row">
                                <div class="col-sm-9">
                                    <input type="text" name="keyword" id="keyword" class="form-control" placeholder="page number or question" value="">
                                </div>
                                <div class="col-sm-2">
                                    <button id="newQ" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                    <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1 margin-bottom">
                        <form class="form-horizontal hide" id="newQ-form" action="{% url 'book:book' question.book.isbn13 %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="page">Page</label>
                                <input type="number" class="form-control" id="page" name="page">
                            </div>
                            <div class="form-group">
                                <label for="question">Question</label>
                                <textarea class="form-control" rows="4" id="question" name="question"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Ask</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-10 margin-bottom">
                        <div>
                            <h4 class="inline-block height-20">Sort questions by:</h4>
                            <div class="inline-block">
                            <div class="btn-group">
                                <button type="button" class="dropdown-toggle btn-dropdown" data-toggle="dropdown">
                                    Most Active <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Newest</a></li>
                                    <li><a href="#">Most Active</a></li>
                                </ul>
                            </div>
                            </div>
                            
                        </div><hr>
                        <div>
                                <div class="col-sm-9">
                                    <a href="{% url 'book:question' question.book.isbn13 question.id %}">
                                        <span>{{ question.page }}</span>
                                        <span>{{ question.question }}</span>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="list-inline">
                                        <li><div>
                                                {{ question.num_answer }}
                                            </div>
                                            <div>
                                                replies
                                            </div>
                                        </li>
                                        <li><div>
                                            {{ question.like }}
                                        </div>
                                        <div>
                                            have this question
                                        </div>
                                        </li>
                                    </ul>
                                </div>
                                <br><hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h3>There was an error loading this question</h3>
    {% endif %}

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    </div>
</div>
{% endblock %}