{% extends 'book/base.html' %}
{% block title %}BookQ - {{book.title}}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
    {% if question %}
        <div class="col-xs-12 col-sm-2">
            <img src="{{ question.book.cover.url }}" alt="{{ question.book.title }}" class="img-thumbnail rounded" height="200" width="150">
            <div class="inline-block">
                <h4>{{ question.book.title }} </h4>
                <span>
                    - {{ question.book.author }}
                </span><br><br>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-12 margin-bottom">
                        <div class="line-break">
                            <div class="col-sm-12" style="margin: 15px 0 30px 0;">
                                <div class="answer-answer margin-bottom">
                                    <span>page </span><h3 class="no-margin inline-block" style="font-weight: 300;">{{ question.page }}</h3>
                                    <span class="question-text">{{ question.question }}</span>
                                </div>
                                <div class="answer-stat margin-bottom">
                                    <span>{{ question.like }} also have this question</span>
                                    <span class="dot">comment</span>
                                </div>
                                <div class="answer-answer-button">
                                    <button id="comment-like-button" style="margin-right: 15px;"><img src="/static/book/images/icons8-thumbs-up-32.png" alt=""> Like</button>
                                    <button><img src="/static/book/images/icons8-chat-bubble-32.png" alt="">Comment</button>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="answer-replies">
                                    {{ question.num_answer }} replies
                                </div>
                                <div>
                                    <div class="answer-user">
                                        {{ user.get_username }}
                                    </div>
                                    <form class="form-horizontal" action="{% url 'book:question' question.book.isbn13 question.id %}" method="post" >
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <textarea class="form-control" rows="4" id="answer" name="answer" placeholder="Type your answer here..."></textarea>
                                        </div>
                                        <div class="form-group clear-both">
                                            <button type="submit" class="btn btn-primary float-right">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <hr>
                                <!-- ============ List of answers ============== -->
                                <div>
                                    {% for answer in question.answer_set.all %}
                                        <div class="answer-user">
                                            {{ answer.author }}
                                        </div>
                                        <div class="answer-answer margin-bottom">
                                            {{ answer.answer }}
                                        </div>
                                        <div class="answer-answer-statistic margin-bottom">
                                            <span>{{ answer.like }} found this useful</span>
                                            <span class="dot">comment</span>
                                        </div>
                                        <div class="answer-answer-button">
                                            <button style="margin-right: 15px;"><img src="/static/book/images/icons8-thumbs-up-32.png" alt="">Helpful</button>
                                            <button><img src="/static/book/images/icons8-chat-bubble-32.png" alt="">Comment</button>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h3>There was an error loading this question</h3>
    {% endif %}

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    </div>
</div>

<script>
    $('#comment-like-button').click(function() {
        $.ajax({
            url: "{% url 'book:question-like' question.book.isbn13 question.id %}",
             success: function(result) {
                alert(result);
        }});
    });
</script>
{% endblock %}