{% extends 'book/base.html' %}
{% block title %}BookQ - {{book.title}}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
    {% if question %}
        <div class="col-xs-12 col-sm-2">
            <a href="{% url 'book:book' question.book.isbn13 %}">
                <img src="{{ question.book.cover.url }}" alt="{{ question.book.title }}" class="img-thumbnail rounded" height="200" width="150">
            </a>
            <div class="inline-block">
                <a href="{% url 'book:book' question.book.isbn13 %}">
                    <h4>{{ question.book.title }} </h4>
                    <span>
                        - {{ question.book.author }}
                    </span>
                </a><br><br>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-12 margin-bottom">
                        <div class="line-break">
                            <div class="col-sm-12" style="margin: 15px 0 30px 0;">
                                <!-- ============ Selected Question ============== -->
                                <div class="answer-answer margin-bottom">
                                    <span>page </span><h3 class="no-margin inline-block" style="font-weight: 300;">{{ question.page }}</h3>
                                    <span class="question-text">{{ question.question|linebreaksbr }}</span>
                                </div>
                                <div class="answer-stat margin-bottom">
                                    <span><span id="question-like-count">{{ question.like }}</span> also have this question</span>
                                    <span class="dot">comment</span>
                                </div>
                                <div class="answer-answer-button">
                                    <button id="question-like-button"><img src="/static/book/images/icons8-thumbs-up-32.png" alt="like-button">
                                        <span> Like</span></button>
                                    <button id="question-unlike-button" class="hidden"><img src="/static/book/images/icons8-thumbs-up-32-color.png" alt="unlike-button">
                                        <span style="color:#1abc9c;"> Like</span></button>
                                    <button id="comment-btn"><img src="/static/book/images/icons8-chat-bubble-32.png" alt="">Comment</button>
                                    <!-- if the question is already liked, toggle like button displayed -->
                                    {% if questionLike %}
                                        <script>
                                            $('#question-like-button').addClass("hidden");
                                            $('#question-unlike-button').removeClass("hidden");
                                        </script>
                                    {% endif %}
                                </div>
                                <!-- ============ Comments for question ============== -->
                                <div id="question-comment-div" class="hide">
                                    {% for comment in question.questioncomment_set.all %}
                                        <div class="question-comment-user">
                                            <b>{{ comment.author }}</b>
                                        </div>
                                        <div class="question-comment-comment no-margin">
                                            {{ comment.comment|linebreaksbr }}
                                        </div>
                                        <hr>
                                    {% endfor %}
                                <!-- ============ Comment box shown w/click (if logged in) ============== -->
                                {% if user.is_authenticated %}
                                    <form style="overflow: auto;">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="4" id="question-comment" name="question-comment" placeholder="Type your comment here..."></textarea>
                                        </div>
                                        <div class="form-group clear-both">
                                            <button type="button" id="question-comment-button" class="btn btn-primary float-right">Comment</button>
                                        </div>
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                            <!-- ============ Answers ============== -->
                            <div class="col-xs-12">
                                <div class="answer-replies">
                                    {{ question.num_answer }} replies
                                </div>
                                <!-- ============ Answer box (if logged in) ============== -->
                                {% if user.is_authenticated %}
                                <div>
                                    <div class="answer-user">
                                        {{ user.get_username }}
                                    </div>
                                    <form class="form-horizontal" action="{% url 'book:question' question.book.isbn13 question.id %}" method="post" >
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <textarea class="form-control" rows="4" id="answer" name="answer" placeholder="Type your answer here..."></textarea>
                                        </div>
                                        <div class="form-group clear-both">
                                            <button type="submit" class="btn btn-primary float-right">Answer</button>
                                        </div>
                                    </form>
                                </div>
                                <hr>
                                {% endif %}
                                <!-- ============ List of answers ============== -->
                                <div>
                                    {% for answer in question.answer_set.all %}
                                        <div class="answer-user">
                                            {{ answer.author }}
                                        </div>
                                        <div class="answer-answer margin-bottom">
                                            {{ answer.answer|linebreaksbr }}
                                        </div>
                                        <div class="answer-answer-statistic margin-bottom">
                                            <span>{{ answer.like }} found this useful</span>
                                            <span class="dot">comment</span>
                                        </div>
                                        <div class="answer-answer-button">
                                            <button style="margin-right: 15px;"><img src="/static/book/images/icons8-thumbs-up-32.png" alt="">Helpful</button>
                                            <button><img src="/static/book/images/icons8-chat-bubble-32.png" alt="">Comment</button>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h3>There was an error loading this question</h3>
    {% endif %}

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    </div>
</div>

<script>
    // get Cookie using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    // set csrf token header if HTTP methods are not one of the above
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // send GET request to ex. /book/1234567890123/q/1/like to add like to the question
    $('#question-like-button').click(function() {
        $.ajax({
            url: "{% url 'book:question-like' question.book.isbn13 question.id %}",
            success: function(result) {
                if (result == 1) {
                    $('#question-like-button').addClass("hidden");
                    $('#question-unlike-button').removeClass("hidden");
                    let likeCount = parseInt($('#question-like-count').html()) + 1;
                    $('#question-like-count').html(likeCount);
                }
        }});
    });

    // send DELETE request to ex. /book/1234567890123/q/1/like to unlike the question
    $('#question-unlike-button').click(function() {
        $.ajax({
            url: "{% url 'book:question-like' question.book.isbn13 question.id %}",
            type: 'delete',
            success: function(result) {
                if (result == 1) {
                    $('#question-like-button').removeClass("hidden");
                    $('#question-unlike-button').addClass("hidden");
                    let likeCount = parseInt($('#question-like-count').html()) - 1;
                    $('#question-like-count').html(likeCount);
                }
        }});
    });

    // show comment textarea if logged in
    $(function() {
        $('#comment-btn').click(function() {
            $("#question-comment-div").toggleClass("hide");
        });
    });

    // send GET request to ex. /book/1234567890123/q/1/like to add like to the question
    $('#question-comment-button').click(function() {
        let comment = $('#question-comment').val();
        $.post({
            url: "{% url 'book:question-comment' question.book.isbn13 question.id 0 %}",
            data: {"comment": comment},
            success: function(result) {
                
        }});
    });
</script>
{% endblock %}